body {
    background-image: url('/img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.formulario-container {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(75, 202, 241, 0.356);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #1c83ac;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

textarea {
    resize: vertical;
    height: 100px;
}

input[type="submit"] {
    background-color: #13acc7;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

input[type="submit"]:hover {
    background-color: #0e8bb7;
    transform: rotate(15deg); 
}
