body {
    background-image: url('/img/fondo.jpg');
    background-size: cover; 
    background-position: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f4f4;

}

section {
    background-color: #b7ffddbe;
    border-radius: 10px;
    padding: 40px;
    margin: 30px auto;
    max-width: 800px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0c723391;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #666;
    }

input[type="text"],
input[type="tel"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #0aa55d;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="radio"] {
    display: inline-block;
    margin-right: 10px;
}

#registroMascota input[type="number"],
#registroMascota input[type="date"],
#registroMascota input[type="text"]#numeroChip {
    margin-bottom: 20px;
}

#registroMascota .radio-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

#registroMascota .radio-group label {
    display: flex;
    align-items: center;
    margin-right: 30px; 
}

#registroMascota .radio-group label:last-child {
    margin-right: 0; 
}

/* Animación del resaltado de un campo */

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
    border-color: #4152eb;
    box-shadow: 0 0 6px rgba(29, 12, 177, 1);
}

/* Animación del botón Registro */

input[type="submit"] {
    background-color: #13c75891;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #13c75891;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}
